<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Bienvenue, {{ full_name }}!</h1>
    <p>Pour indiquer votre disponibilité, cliquez sur une case dans la colonne correspondant à votre date de disponibilité. Votre nom sera alors automatiquement inscrit dans la case. Vous pouvez également vous désinscrire en recliquant sur la même case.</p>
    <table>
        {% for row in range(5) %}
        <tr>
            {% for col in range(21) %}
            {% set cell = 'cell-' + row|string + '-' + col|string %}
            <td id="{{ cell }}"
                {% if is_admin %} contenteditable="true" onblur="updateCell('{{ cell }}')" {% endif %}
                {% if not is_admin and row in [1, 2] %} onclick="updateUserCell('{{ cell }}')" {% endif %}>
                {% if table_data.get(cell) %}{{ table_data[cell] }}{% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <!-- Ajoutez une liste déroulante pour afficher tous les utilisateurs -->
    <select id="users" {% if not is_admin %} style="display: none;" {% endif %}>
        <option value="">Sélectionner un utilisateur</option>
        {% for utilisateur in utilisateurs %}
        <option value="{{ utilisateur['id'] }}">{{ utilisateur['full_name'] }}</option>
        {% endfor %}
    </select>
</div>
<script>
    // Fonction pour mettre à jour une cellule avec le nom d'utilisateur sélectionné
    function updateUserCell(cellId) {
        var cell = document.getElementById(cellId);
        var userSelect = document.getElementById("users");
        var selectedUserId = userSelect.value;

        if (selectedUserId) {
            updateCell(cellId, selectedUserId); // Envoyer l'ID de l'utilisateur sélectionné
        }
    }

    // Fonction pour mettre à jour les données dans la base de données via une requête AJAX
    function updateCell(cellId, userId) {
        var cell = document.getElementById(cellId);
        var row = cellId.split('-')[1];
        var col = cellId.split('-')[2];
        var formData = new FormData();
        formData.append('row', row);
        formData.append('col', col);
        formData.append('user_id', userId); // Envoyer l'ID de l'utilisateur

        fetch('/table', {
            method: 'POST',
            body: formData
        });
    }
</script>
</body>
</html>
